In [11]:
import pandas as pd
import numpy as np
import re

regex = re.compile('[^a-zA-Z ]')

In [12]:
olympics = pd.read_csv('../../athlete_events.csv')

In [13]:
olympics.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [14]:
swimming = olympics.loc[olympics['Sport'] == 'Swimming'].copy()

swimming

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
35,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 200 metres Breaststroke,NaN
36,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 400 metres Breaststroke,NaN
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271012,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN
271013,135522,"Klaas Erik ""Klaas-Erik"" Zwering",M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver
271038,135539,Marius Edmund Zwiller,M,18.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN

In [18]:
#swimming_copy = swimming.copy()
swimming['Name'] = swimming['Name'].apply(lambda x: re.sub(regex, '', str(x)))
# swimming
swimming['Last_Name'] = swimming['Name'].apply(lambda x:pd.Series(x.split()[::-1]))[0]
swimming['Last_Name'] = swimming['Last_Name'].apply(lambda x:str(x).upper())
swimming

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Last_Name
29,10,Einar Ferdinand Einari Aalto,M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN,AALTO
35,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 200 metres Breaststroke,NaN,AALTONEN
36,15,Arvo Ossian Aaltonen,M,22.0,NaN,NaN,Finland,FIN,1912 Summer,1912,Summer,Stockholm,Swimming,Swimming Men's 400 metres Breaststroke,NaN,AALTONEN
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,AALTONEN
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,AALTONEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271012,135522,Klaas Erik KlaasErik Zwering,M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ZWERING
271013,135522,Klaas Erik KlaasErik Zwering,M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver,ZWERING
271038,135539,Marius Edmund Zwiller,M,18.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,NaN,ZWILLER
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN,ZYCHOWICZ
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN,ZYCHOWICZ

In [22]:
swimming = swimming.sort_values(by=['Last_Name'], ascending=True)

# swimming

swimming['Order'] = pd.factorize(swimming['Name'])[0]

swimming

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Last_Name,Order
33344,17194,Kreimir a,M,20.0,195.0,86.0,Croatia,CRO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 200 metres Individual Medley,NaN,A,0
33345,17194,Kreimir a,M,20.0,195.0,86.0,Croatia,CRO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 400 metres Individual Medley,NaN,A,0
33346,17194,Kreimir a,M,20.0,195.0,86.0,Croatia,CRO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,A,0
33347,17194,Kreimir a,M,24.0,195.0,86.0,Croatia,CRO,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Individual Medley,NaN,A,0
33348,17194,Kreimir a,M,28.0,195.0,86.0,Croatia,CRO,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 200 metres Individual Medley,NaN,A,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271012,135522,Klaas Erik KlaasErik Zwering,M,19.0,189.0,80.0,Netherlands,NED,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,ZWERING,8758
271013,135522,Klaas Erik KlaasErik Zwering,M,23.0,189.0,80.0,Netherlands,NED,2004 Summer,2004,Summer,Athina,Swimming,Swimming Men's 4 x 100 metres Freestyle Relay,Silver,ZWERING,8758
271038,135539,Marius Edmund Zwiller,M,18.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Swimming,Swimming Men's 200 metres Breaststroke,NaN,ZWILLER,8759
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN,ZYCHOWICZ,8760
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN,ZYCHOWICZ,8760

In [23]:
# fancy grouping magic
swimming = swimming.replace(to_replace=["FRG", "GDR", "EUA"], value="GER")
result = swimming.groupby(["NOC", "ID"], sort=True).apply(lambda x: x.sort_values("Year", ascending = False)).reset_index(drop=True)

In [24]:
result.shape

(23195, 17)

In [25]:
# drop the columns that we don't need
result = result.drop(columns=['Height', 'Weight', 'Team'])
result

,ID,Name,Sex,Age,NOC,Games,Year,Season,City,Sport,Event,Medal,Last_Name,Order
0,9477,Petra Bekaert,F,16.0,AHO,1984 Summer,1984,Summer,Los Angeles,Swimming,Swimming Women's 100 metres Backstroke,NaN,BEKAERT,601
1,25541,Rodion Rosko Davelaar,M,18.0,AHO,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 50 metres Freestyle,NaN,DAVELAAR,1662
2,48685,Howard Xavier Hinds,M,22.0,AHO,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 50 metres Freestyle,NaN,HINDS,3121
3,48685,Howard Xavier Hinds,M,22.0,AHO,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 100 metres Freestyle,NaN,HINDS,3121
4,48685,Howard Xavier Hinds,M,18.0,AHO,1996 Summer,1996,Summer,Atlanta,Swimming,Swimming Men's 50 metres Freestyle,NaN,HINDS,3121
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,128286,Glen Walshaw,M,24.0,ZIM,2000 Summer,2000,Summer,Sydney,Swimming,Swimming Men's 200 metres Freestyle,NaN,WALSHAW,8229
23191,130832,Hillary Wilson,F,15.0,ZIM,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN,WILSON,8412
23192,130832,Hillary Wilson,F,15.0,ZIM,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 100 metres Butterfly,NaN,WILSON,8412
23193,130832,Hillary Wilson,F,15.0,ZIM,1960 Summer,1960,Summer,Roma,Swimming,Swimming Women's 400 metres Freestyle,NaN,WILSON,8412
23194,131478,Jennifer Jenny Wood,F,16.0,ZIM,1964 Summer,1964,Summer,Tokyo,Swimming,Swimming Women's 100 metres Butterfly,NaN,WOOD,8466

In [ ]:
# get two dataframes: one with all of the NaNs, the other with all NaNs dropped
null = result[result['Medal'].isnull()]
null_dropped = result.dropna()

# check if the ones with NaN are in the non-NaN dataframe 
# - if so, we keep it in the origining dataframe
# - otherwise, we drop it from the origining dataframe
for row in null.itertuples():
    id_num = row[1]
    is_in = (null_dropped['ID'] == id_num).any()
    if not is_in:
        result = result[result.ID != id_num]

In [ ]:
null.shape

In [ ]:
null_dropped.shape

In [ ]:
result.shape

In [ ]:
start_end = pd.read_csv('olympic_start_end_years.csv')
start_end

In [ ]:
result["Start"] = " "
result["End"] = " "
result['ID'] = result['ID'].astype('Int64')
result['Age'] = result['Age'].astype('Int64')
result['Sex'].replace('M', 0, inplace=True)
result['Sex'].replace('F', 1, inplace=True)
for idx, id_n, firstyear, lastyear in start_end.itertuples():
    result.loc[result['ID'] == id_n, 'Start'] = firstyear
    result.loc[result['ID'] == id_n, 'End'] = lastyear
    
result

In [121]:
export_csv = result.to_csv (r'export_dataframe.csv', index = None, header=True)